ul {
  height: 60vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem 0;
}
ul::-webkit-scrollbar {
  display: none;
}
li {
  width: 70%;
  height: fit-content;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.541);
  color: rgb(45, 45, 45);
  padding: 5px;
  margin-top: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.603);
  border-radius: 5px;
}
.loader {
  width: 70%;
  margin-left: 15%;
  border-radius: 10px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 248, 0.342);
}
.__fill__loader {
  width: 60%;
  margin-left: 45%;
  margin-top: 5%;
}
._wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__play_image_group {
  display: flex;
  align-items: center;
}
.__play_icon {
  width: fit-content;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s all;
}
.__play_icon:hover {
  color: rgb(123, 147, 143);
}
.Music__image {
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
  text-align: center;
  border-radius: 50%;
  color: white;
}
.album__name {
  color: black;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.album__name:hover {
  text-decoration: underline;
}
.music__duration {
  font-size: small;
}
.__others {
  font-size: larger;
  font-weight: bold;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  transition: 0.4s ease;
}
.__others:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.603);
  cursor: pointer;
}
